/*reiniciando las reglas del navegador*/
body{
    margin: 0px;
    background-color: rgb(194, 228, 236);
}

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(62, 159, 184);
    color: white;
    padding: 3rem 2rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}

.contenido{
    width: 400px;
    margin: 0 auto;
}

section article{
    transition: box-shadow 0.3s ease;
    background-color:rgb(51, 122, 128);
    color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article h2, section article p {
    margin: 1rem;
}

section article:hover{
    box-shadow: 0 0.5rem 0.4rem rgba(0,0,0,0.3)
}

footer{
    background-color: rgb(84, 192, 235);
    padding: 1rem;
    color:white;
}

footer section{
    float: right;
}

footer p{
    margin:0;
}

footer a{
    transition: color 0.3seg ease;
    color: white;
    text-decoration: none;
    cursor:pointer;
}

footer a:hover{
    color:rgb(38, 175, 175)
}